.blocklyPathDark {
    display: none;
}
.blocklyPathLight{
    display: none;
}

#formDiv{
	/*position: absolute;*/
    /*top: 0;*/
    padding: 10px;
    /*border: 1px solid #000000;*/
}
.blocklyText{
	color: #222222;
	fill: #222222;
}
.blocklyPath{
	fill: transparent;
	stroke: #000000;
}
.blocklyNonEditableText>rect, .blocklyEditableText>rect{
	stroke: #222222;
}