@import url('./css/iconfont.css')*/
.blocklyToolboxDiv{
	background-color: #FFFFFF;
}
.darkTheme .blocklyToolboxDiv{
	background-color: #333333;
}
.darkTheme .blocklyToolboxDiv .blocklyTreeLabel{
	color: #1976D2;
}
.darkTheme .blocklyTreeSelected .blocklyTreeLabel,
.darkTheme .blocklyTreeSelected .iconfont{
	color: #FFFFFF;
}


.blocklyPathDark {
    display: none;
}
.blocklyPathLight{
    display: none;
}

#formDiv{
	/*position: absolute;*/
    /*top: 0;*/
    padding: 10px;
    /*border: 1px solid #000000;*/
}
.blocklyText{
	/*color: #222222;*/
	/*fill: #222222;*/
	color: #FFFFFF;
	fill: #FFFFFF;
}
.blocklyPath{
	/*fill: #ffffff;*/
	/*fill: transparent;*/
	/*stroke: #666666;*/
	transition: all 0.3s;
}
.conn-up-down > .blocklyPath{
	/*stroke: #dd2c00;*/
	stroke: #f2631f;
	/*stroke: #d1f30d;*/
}
.blocklyPath:hover{
	stroke-dasharray: 5 0 !important;
	stroke-width: 3px !important;
	stroke-dashoffset: 5 !important;
	stroke: #06D6A0 !important;
	transform: translate(1px, 1px);
}
.blocklyNonEditableText>rect, .blocklyEditableText>rect{
	stroke: #222222;
    fill: #000000; 
    fill-opacity: .6;
}
.blocklyEditableText:hover>rect{
	stroke: #06D6A0;
	stroke-width: 5px;
	cursor: pointer;
}
.blocklyEditableText > rect, .blocklyEditableText > text{
	cursor: pointer;
}
.blocklyEditableText > text{
	fill: #ffffff;
}
.blocklySelected>.blocklyPath{
	stroke: #409EFF
}



.connectGuideSvg{
	display: none;
	/*fill: #f2631f; */
	fill: #120E33; 
    /*fill-opacity: .6;*/
	opacity: .6;
	cursor: auto;
}
.showConnectGuideSvg > .connectGuideSvg{
	display: block;
}
.blocklyTreeRoot{
	padding: 0px;
}
.blocklyTreeRow{
	height: 40px;
	line-height: 40px;
	margin-bottom: 0px;
}
.blocklyTreeIcon{
	height: 40px;
	padding: 0 10px;
	/*font-weight: bold;*/
	background-image: none;
}
.blocklyFlyout{

}
.blocklyTreeLabel{
	color: #2e3131;
}
.blocklyTreeRow.blocklyTreeSelected{
	transition: all .3s;
}

.blocklyTreeRow:not(.blocklyTreeSelected):hover{
	color: #FFFFFF;
	background-color: rgba(34, 167, 240, 1);
	/*font-weight: bold;*/
}
.blocklyTreeRow:not(.blocklyTreeSelected):hover .iconfont{
	color: #FFFFFF;
	font-size: 24px;
}
.blocklyTreeRow:not(.blocklyTreeSelected):hover .blocklyTreeLabel{
	color: #FFFFFF;
}
div[role="treeitem"]{
	/*padding-left: 5px;*/
	/*border-bottom: 1px solid #1976D2;*/
}
div[role="treeitem"]:hover{
	transition: all .3s;
}
div[role="treeitem"] > .blocklyTreeRow{
	border-left: none !important;
}
ul,li{
	margin: 0;
	padding: 0;
	list-style: none;
}
.theme-wrap{
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 2;
}
.iconfont.icon-theme{
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.iconfont.icon-select{
	width: 15px;
	height: 15px;
}
.theme-wrap > ul{
	display: none;
	position: absolute;
	top: 30px;
	right: 0;
	border: 1px solid #ddd;
	background-color: #ffffff;
}
.theme-wrap > ul.active{
	display: block;
}
.theme-wrap > ul > li{
	width: 60px;
	/*text-align: center;*/
	padding: 3px 20px;
	border-bottom: 1px solid #ddd;
	cursor: pointer;
}
.theme-wrap > ul > li:hover{
	background-color: #dddddd;
}
.theme-wrap > ul > li > span{
	display: none;
}
.theme-wrap > ul > li.active > span{
	display: inline-block;
}

.test rect{
	fill: #FFC107;
	stroke: none;
	opacity: 1 !important;
}
.test.connected rect{
	fill: #00e676;
}



/*主题相关---start*/
/*light*/
[data-theme='light'] .blocklyMainBackground{
	fill: #ffffff !important;
}
[data-theme='light'] .blocklyFlyoutBackground{
	fill: #120E33 !important;	
}


/*dark*/
[data-theme='dark'] .blocklyMainBackground{
	/*浅蓝*/
	/*fill: rgba(13, 10, 49, 0.9) !important; */
	 /*灰*/
	fill: #282c34 !important;
}
[data-theme='dark'] .blocklyFlyoutBackground{
	fill: #120E33 !important;	
}

.line > .blocklyPath{
	/*蓝色*/
	/*fill: #1976D2;
	stroke: #1976D2;*/
	/*橙色*/
	fill: #f2631f;
}
/*主题相关---end